/* ------GENERALES------*/
ul{
  list-style-type: none;
}
.flex-Container{
  display: flex;
  width: 1200px;
}
.flex-aside{
  flex-basis: 200px;
}

/* ------ASIDE------*/
aside {
  background-color: #647087;
}
aside * {
  color:white;
}aside h2{
  text-transform: uppercase;
  letter-spacing: 10px;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}
#profile-pic img{
  border-radius: 50%;
/*  width: 100px;
  height: auto; */
}
.References img{
  border-radius: 50%;
  width: 100px;
  height: auto;
}

/* ------MAIN------*/
main {
  margin:20;
  padding-left: 20px;
  background-color: #DCEBC2;
}
main section > h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: auto;


}
.hero{
  background-color: #EAC9BF;
  box-shadow: 2px 2px 30px 7px #647087 inset;
  padding: 15% 0;
  text-align: center;
}
.hero h2{
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: normal;

}
.hero h1{
  letter-spacing: 15%;
  font-size: 30px;
  font-style: "Century Gothic";
   color: teal;
}
.about-me p {
  background-color: #ADDCCA;

}
 .about-me h2{
  background-color: #DCEBC2;
  color: #647087;
}
article h3,
article h4{
  font-weight: bold;
}
article ul{
  list-style-type: square;
}
/*REFERENCES */
.References{
  display: flex;
  flex-wrap: wrap;

}
.References h2,
.Experience h2{
  background-color: #DCEBC2;
  color: #647087;
}
/* DT */
dt{
  front
  clear: left;
  width: 30%;
  float: left;
  border-top: 1px solid white;

}
dd{
  clear: right;
  width: 50%;
  float: left;
  margin: 0;
  border-top: 1px solid white;
}
dt:last-of-type,
dd:last-of-type{
  border-bottom: 1px solid white;
}
dl{
  display: flex;
  flex-wrap: wrap;
}
dt,
dd{
flex-basis:
}
/*ICONS*/
.fb::before{
  content: "\f082"
  font-family:"Font Awesome 5 Free";
  font-weight: 900;
  content

}
meter{
      display: inline-block;
      width: 80%;
}
 meter::-webkit-meter-optimum-value{

   background-color: #ADDCCA;
 }
/* meter::-webkit-meter-bar{
  background: none;
  background-color: white;
} */


/* *{
  color blue;
}
p {
  color: red;
}
.claseEje{

background-color: lightblue;

}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
#profile-pic img{
  border-radius: 50%;
} */
