/* ------GENERALES------*/
ul{
  list-style-type: none;
}
.flex-Container{
  display: flex;
  width: 1200px;
}
.flex-aside{
  flex-basis: 200px;
}
/* ------ASIDE------*/
aside {
  background-color: #647087;

}
aside * {
  color:white;
}aside h2{
  text-transform: uppercase;
  letter-spacing: 5px;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}
#profile-pic img{
  border-radius: 50%;
}

/* ------MAIN------*/
main section > h2{
  text-transform: uppercase;
  text-shadow:
}
.hero{
  background-color: #F7DDC3;
  box-shadow: 2px 2px 30px 5px #647087 inset;
  padding: 1px 2px 3px;
}
.hero h2{
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: normal;

.about-me{
  background-color: #F7DDC3;
}
.about-me{
  background-color: white;
}
article h3,
article h4{
  font-weight: bold;
}
article ul{
  list-style-type: square;
}
/* DT */
dt{
  front
  clear: left;
  width: 30%;
  float: left;
  border-top: 1px solid white;

}
dd{
  clear: right;
  width: 50%;
  float: left;
  margin: 0;
  border-top: 1px solid white;
}
dt:last-of-type,
dd:last-of-type{
  border-bottom: 1px solid white;
}
dl{
  display: flex;
  flex-wrap: wrap;
}
dt,
dd{
flex-basis:
}

/**
*{
  color blue;
}
p {
  color: red;
}
.claseEje{

background-color: lightblue;

}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
#profile-pic img{
  border-radius: 50%;
}*/
